# Порт HTTPS сервера
PORT=3443

# VAPID ключи для Push API (Практика 16)
# Получите командой: npm run vapid
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Контакт (опционально, используется web-push)
VAPID_SUBJECT=mailto:teacher@example.com
